
header{
    /* background-color: rgb(58, 33, 33); */
    width: 100%; 
    position: fixed;
    z-index: 1;
    filter: drop-shadow(0px 2px 9px rgb(187, 187, 187));

}

.headertopLayer{
    background-color: rgb(0,67,70);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: .75rem;
    padding: 3px 8px;

}

.headerlogo img{
    height: 30px;

}
.headerstatistics{
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.headerreview p{
    font-size: .9rem;
    margin: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.headerreview img{
    height: 30px;

}

.headerselectcontent{
    color: white;
    padding: 6px 12px;
    width: 100px;
    border-radius: 2px;
    border: 1px solid white;
    background-color: rgb(0,67,70);
    cursor: pointer;
}
.headerselectcontent:hover{
    background-color: rgb(4, 44, 46);
}
.headerselectcontent option{
    background-color: rgb(4, 44, 46);
    color: white;

}

.headersecondLayer{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 8px;

}
.headernavigate{
    display: flex;
    gap: 1.5rem;
    cursor: pointer;
}
.headernavigate p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headernavigate img{
    height: 30px;

}
.headernavigate #freebtc{
    padding: 2px 5px;
    max-height:25px;
    background-color: rgb(245, 245, 21);
    border-radius: 3px;
    border: 0.5px solid grey;
    margin-left: 15px;

}

.headersignUpIn{
    display: flex;
    gap: 1.5rem;
    align-items: center;


}
.headersignUpIn button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.headersignUpIn img{

    height: 30px;

}
.headersignUpIn button{
    padding: 7px 13px;
    width: 130px;
    border-radius: 3.5px;
    border: none;
    cursor: pointer;
}

#headersignin{
    background-color: darkgreen;
}
#headersignup{
    background-color: lightgreen;
}