.footer{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 28vh;
    color: rgb(158, 156, 156);
    filter: drop-shadow(0px 4px 9px rgb(138, 136, 136));

}
.footerImage{
    display: flex;
    justify-content: center;
    margin: 15px 0;
    width: 100%;
    
}
.footerImage img{
    height: 25px;

}
.footer1{
    display: flex;
    gap: 1rem;
}

.footer2{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 10px;
}

.footer3{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 15px;
    font-size: .9rem;
    
}
.footer1 p,.footer2 p, .footer3 p{
    padding: 0;
    margin: 0;
}