.Settings{
    background-color: blue;
    color: black;
    width: 100%;
    margin-left: 20%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 0.5%;
    height: 170vh;

}

.setttings-top-promotion{
    font-size: 20px;
    background: rgb(159,224,185);
    background: linear-gradient(90deg, rgba(159,224,185,1) 3%, rgba(31,196,151,1) 29%, rgba(30,131,102,1) 49%, rgba(182,230,211,1) 70%, rgba(225,250,255,1) 86%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4%;
    margin-top: -1%;
    margin-left: -3.5%;
    width: 107%;
}
.setttings-top-promotion span,input,button{
    margin: 10px;
}
.setttings-top-promotion button{
    background-color: yellow;
    color: black;
    outline: none;
    border: 1px none transparent;
    padding: 8px;
    width: 10%;
    font-size: 15px;
    cursor: pointer;
    
}
.setttings-top-promotion span{
    color: blue;
    text-decoration:underline
}

#setttings-top{
    margin-top: 5%;
    margin-bottom: 0;
}

.setttings-Password{
    /* background-color: red; */
    margin-left: 2%;
}

.setttings-current{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setttings-new{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#setttings-current{
    display: flex;
    align-items: center;
}
#setttings-new{
    display: flex;
    align-items: center;
}

#setttings-password{
    width: 30%;
    height: 35px;
    border-radius: 0.3rem;
    border: 1px solid white;
    padding-left: 1%;
    font-size: 18px;
}

.setttings-button{
    /* background-color: red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 5%;
}
#setttings-button{
    height: 35px;
    width: 8%;
    background-color: darkslategray;
    color: white;
    border: 1px solid darkolivegreen;
    border-radius: 0.3rem;
}

#setttings-words span{
    color: green;
    text-decoration: none;
    background-color: yellow;
}

.setttings-bottom12{
    /* background-color: white; */
    width: 100%;
    height: 32%;
    padding-left: 2%;

}

#setttings-bottom12{
    display: flex;
    align-items: center;
}

.setttings-first{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setttings-bar{
    width: 20%;
    /* background-color: blue; */
    height: 100%;
}

.setttings-second{
    width: 100%;
    /* background-color: yellow; */
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.setttings-second input{
    margin-top: 1%;
    padding-left: 2%;
    width: 35%;
    height: 35px;
    margin-right: 0;
    box-shadow: 10px 8px 20px 0px rgba(0, 0, 0, 0.314);
    border: 1px solid transparent;
    border-radius: 0.3rem;


}

.setttings-third{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.setttings-third input{
    margin-top: 1%;
    padding-left: 2%;
    width: 28%;
    height: 35px;
    margin-right: 0;
    border: 1px solid transparent;
    border-radius: 0.3rem;
    box-shadow: 10px 8px 20px 0px rgba(0, 0, 0, 0.314);

}

.Settings img{
    height: 50px;
}
.setttings-button img{
    height: 15px;
    padding-left: 10px;
}

.setttings-bar img{
    height: 150px;
}



