body{
    margin: 0;
    padding: 0;
}
.affiliatebg{
    height: 43vh;
    background-color: rgb(23, 63, 28);
    display: flex;
    justify-content: center;
    align-items: end;

}
.affiliatebgText{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}
.affiliatebgText h3{
    font-size: 3rem;
    margin: 0;
    margin-left: 100px;
    color: white;
}

.commissionContainer{
    margin-top: 110px;
    margin-bottom: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rebeccapurple; */
}
.commissionContent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 35vh;
    background-color: rgb(187, 187, 187);
    border-radius: 10px;
    padding: 8px 0;
}
.commissionBox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 88%;
    /* background-color: cornflowerblue; */

}
.commissionLeft{
    flex: 2;
}
.commissionLeft h3 {
    font-weight: 450;
    margin: 0;
}
.commissionLeft h1 {
    margin: 0;
}
.commissionLeft p {
    color: grey;
    
}
.commissionRight{
    flex: 1;
    text-align: center;

}
.commissionRight button{
    padding: 15px 15px;
    width: 200px;
    border-radius: 3.5px;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
#commissionsignup{
    background-color: lightgreen;
}

.refferalSystem{
    margin-top: 60px;
    margin-bottom: 130px;
    width: 100%;
    background-color: rgb(0, 255, 179);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 4rem;

}
.refferalSystemLeft{
    text-align: center;
    width: 45%;
    background-color: aqua;

}
.refferalSystemLeft h1{
    margin: 0;
    font-size: 2.4rem;
}
.refferalUl{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: grey; */

}
.refferalUl li{
    text-align: left;
    font-size: 1.1rem;
    letter-spacing: 1.5px;
    margin: 0;

}
.refferalUl h1{

    margin: 0;

}
.refferalSystemLeft button{
    background-color: rgb(90, 218, 90);
    padding: 11px 22px;
    border-radius: 4px;
    width: 250px;
    border: none;
    font-size: 1.1rem;
}

.refferalSystemRight{
    text-align: left;
    width: 44%;
    background-color: aqua;

}
.refferalSystemRight h1{
    margin: 0;

}
.refferalContainerRight{
    line-height: 25px;

}
.refferalContainerRight p{
    margin-top: 10px;

}

