body{
    margin: 0;
    padding: 0;
}
.loginbg{
    height: 40vh;
    background-color: rgb(23, 63, 28);
    display: flex;
    justify-content: center;
    align-items: end;

}
.loginbgText{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}
.loginbgText h3{
    font-size: 3rem;
    margin: 0;
    margin-left: 100px;
    color: white;
}
.loginForm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.loginformContent{
    margin-top: 123px;
    margin-bottom: 130px;
    /* background-color: pink; */
    width: 24%;
    padding: 20px;
}

.loginname{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}
.loginname img{
    height: 20px;
}
.loginpassword{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5rem;
}

.loginpassword img{
    height: 20px;
}

.loginforgotbtn{
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}
.loginforgotbtn button{
    padding: 8px 16px;
    width: 150px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}
.loginname input, .loginpassword input, .loginemail input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
}
.loginupdate{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    padding-left: 5px;
}

.loginupdateContent h5{
    margin-bottom: 0;
    margin: 13px;
    margin-left: 0;
}
.loginupdateContent p{
    margin-top: 8px;
    font-size: .9rem;
  

}