body{
    margin: 0;
    padding: 0;
    background-color: rgb(201, 253, 235);
}
.signupbg{
    height: 40vh;
    background-color: rgb(0,67,70);
    display: flex;
    justify-content: center;
    align-items: end;

}
.signupbgText{
    width: 100%;
    height: 100px;
    /* background-color: aqua; */
}
.signupbgText h3{
    font-size: 3rem;
    margin: 0;
    margin-left: 100px;
    color: white;
}
.signupformContent input::placeholder{
    color: rgb(25, 202, 158);
}
.signupForm{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signupformContent{
    margin-top: 100px;
    margin-bottom: 130px;
    width: 28%;
    padding: 20px;
}

.signupname{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.signupname img{
    height: 20px;
}
.signuppassword{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.signuppassword img{
    height: 20px;
}
.signupemail{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.signupemail img{
    height: 20px;
}
.signupcontinuebtn{
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 36px;
}
.signupcontinuebtn button{
    padding: 8px 16px;
    width: 150px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: rgb(0,67,70);

}
.signupname input, .signuppassword input, .signupemail input{
    width: 250px;
    height: 30px;
    border: none;
    border-radius: 5px;
    filter: drop-shadow(0 3px 5px rgb(201, 199, 199));
}
.signuptermsofservice{
    display: flex;
    justify-content: center;
    width: 100%;
}
.signuptermsofserviceContent{
    width: 80%;

}

.signuptermsofserviceContent p{
    margin-top: 8px;
    font-size: .8rem;
    text-align: center;
    color: grey;
}
